@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Meow+Script&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import "tailwindcss";

@theme {
  --color-coffee-cho: #607274;
  --color-coffee-chobg: #75685e;
  --color-coffee-white: #DED0B6;
  --color-coffee-latte: #FAEED1;
  --color-coffee-dark: #7e6b5c;
  --color-coffee-dark2: #614f3b;
  --color-coffee-bg: #f3eae5;
  --font-poppins: 'Poppins';
  --font-lora: 'Lora';
  --font-onest: 'Onest';
  --font-meow: 'Meow Script';
}

@layer theme {
  :root {
    --color-coffee-cho: #493628;
    --color-coffee-bg: #f3eae5;
    --color-coffee-white: #DED0B6;
    --color-coffee-chobg: #75685e;
    --color-coffee-darken: rgb(58, 55, 55);
    --color-coffee-dark: #7e6b5c;
    --color-coffee-dark-50: #8d7b687e;
    --color-coffee-latte: #D6C0B3;
    --color-coffee-mid: #d8c0ab;
    --color-coffee-light: #b4a89e;
    --color-coffee-light-50: #c8b6a680;
    --color-coffee-smoke: #F1DEC9;
    --color-dark-lowvis: rgba(56, 56, 56, 0.3);
  }
}

@layer base {
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: var(--font-meow);
  }
  p {
    font-family: var(--font-poppins);
  }
}

@layer components {
  .nav-link {
    text-align: center;
    width: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: all 200ms ease-in-out;
  }

  .nav-menu-container {
    position: relative;
    isolation: isolate;
  }

  .nav-menu {
    width: full;
    position: relative;
    z-index: 2;
    min-width: 10rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    color: var(--color-coffee-latte);
    transition: color 200ms ease-in-out;
  }

  .nav-menu-slider {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-coffee-cho);
    transition: transform 300ms ease-in-out;
    z-index: 1;
    border-radius: 0.5rem;
    width: calc(100% / 3); /*3 menu items*/
  }

  .nav-menu::before {
    content: none;
  }

  .nav-menu.active {
    color: var(--color-coffee-whitecoffee);
  }

  .menu-card {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    background: whitesmoke;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }

  .content-container {
    height: auto;
    min-height: 20%;
  }

  .order-btn {
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
  }

  .section-transition {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity, transform;
    position: relative;
  }

  .section-enter {
    opacity: 0;
    transform: translateY(10px);
  }

  .section-exit {
    opacity: 0;
    transform: translateY(40px);
    pointer-events: none;
  }

  .menu-transition {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
  }

  .menu-enter {
    opacity: 0;
  }

  .menu-exit {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 496px) {
    .nav-menu {
      min-width: 6rem;
      padding: 0.5rem 0.75rem;
    }
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.menu-grid {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1rem;
}